includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 6

    paths:
        - wggallery/class
        - wggallery/include
        - wggallery/admin
        - wggallery/plugins
        - wggallery/preloads

    autoload_directories:
        - wggallery/class
        - wggallery/include

    scanDirectories:
        - wggallery
        - vendor

    checkMissingIterableValueType: false

    ignoreErrors:
        # XOOPS: dynamische Properties
        - '#Access to an undefined property.*#'

        # XOOPS: global $xoopsDB, $xoopsUser etc.
        - '#Undefined variable\: \$xoops(DB|User|Module|Tpl)#'

        # XOOPS Request-API
        - '#Call to static method get(Var)? on an unknown class XOOPSRequest#'

        # XOOPS: Legacy-Handler erzeugt unbekannte Klassen
        - '#Instantiated class .* not found.#'

        # XOOPS: Sprachkonstanten kommen aus globalen defines
        - '#Constant .* not found.#'

    reportUnmatchedIgnoredErrors: false
